# ---------- Logging ----------
SERVICE_NAME=<your-service-name>          # e.g., nba-tg-bot
LOG_DIR=<log-directory-path>              # where logs will be written

# ---------- Telegram ----------
TG_BOT_TOKEN=<your_token>                 # token from BotFather

# ---------- RabbitMQ ----------
RABBITMQ_HOST=<rabbit-host>               # default "localhost"
RABBITMQ_PORT=<rabbit-port>               # default "5672"
RABBITMQ_USER=<rabbit-username>           # default "guest"
RABBITMQ_PASSWORD=<rabbit-password>       # default "guest"
RABBITMQ_VHOST=<rabbit-vhost>             # default "/"

# ---------- Exchange / Queues ----------
EXCHANGE_NAME=<exchange-name>             # e.g., polymarket.nba

QUEUE_TGBOT=<queue-tgbot>                 # queue name for Telegram bot
QUEUE_ORACLE=<queue-oracle>               # queue name for database oracle service
QUEUE_REPORT=<queue-report>               # queue name for report generator service

RK_REQUEST=<routing-key-request>          # routing key for request messages
RK_RESPONSE=<routing-key-response>        # routing key for response messages
